BASE_BUNDLE_IDENTIFIER = com.alpenl.webtag.share
HOST_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)
SHARE_EXTENSION_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).extension
APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
KEYCHAIN_ACCESS_GROUP = $(AppIdentifierPrefix)$(BASE_BUNDLE_IDENTIFIER).shared

IPHONEOS_DEPLOYMENT_TARGET = 16.0
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
SWIFT_VERSION = 5.0
CODE_SIGN_STYLE = Automatic
